#page-orphanage {
  display: flex;
  min-height: 100vh;
}

main {
  margin-left: 6.66vw;
  width: 100%;
}

.middle-container {
  padding: 7.8vh 5.55vw 9.75vh;
}

fieldset {
  border: 0;
}

fieldset + fieldset {
  margin-top: 7.8vh;
}

legend {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2.22vw;
  line-height: 4.14vh;
  color: #4d6f80;
}

.separator-line {
  margin: 2.92vh 0px 4.87vh;
}

#map-container {
  border-radius: 1.11vw;
  height: 45.48vh;
}

#map {
  height: 100%;
  border-radius: 1.11vw 1.11vw 0px 0px;
}

#map-container footer {
  margin: 1.5vh 0px 1.5vh;
}

#map-container footer a {
  font-size: 0.97vw;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.input-block span {
  margin-left: 2.22vw;
}

.input-block + .input-block {
  padding-top: 6.58vh;
}

.input-block label {
  padding-bottom: 0.97vh;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.11vw;
  line-height: 2.68vh;
  color: #8fa7b3;
}

.input-block input,
.input-block textarea {
  background: #f5f8fa;
  width: 100%;
  padding: 2.19vh 1.73vw;
  border: 1px solid #d3e2e5;
  border-radius: 1.38vw;
  resize: none;
}
.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #a1e9c5;
}

.input-block textarea {
  height: 14.63vh;
}

.input-block input {
  height: 7.8vh;
}

#input-block-name {
  /* margin: 8.53vh 0px 6.58vh; */
  margin: 8.53vh 0px 0px;
}

.new-upload {
  position: relative;
}

.new-upload + .new-upload {
  margin-top: 0.75vh;
}

.new-upload span {
  position: absolute;
  right: 0.83vw;
  top: 1.58vh;
  box-sizing: border-box;
  width: 4.63vh;
  height: 4.63vh;
  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 1.21vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.new-upload span img {
  width: 63.15%;
  height: 63.15%;
}

#input-block-photos button {
  height: 7.8vh;
  margin-top: 1.46vh;
  background: #f5f8fa;
  border: 1px dashed #96d2f0;
  border-radius: 1.38vw;
  cursor: pointer;
}

#open-on-weekends-select {
  border-radius: 1.38vw;
  height: 7.8vh;
  display: flex;
  align-items: center;
}

#open-on-weekends-select button {
  background: #f5f8fa;
  width: 100%;
  height: 100%;
  border: 1px solid #d3e2e5;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.31vw;
  line-height: 3.17vh;
  color: #5c8599;
  outline: none;
}

#open-on-weekends-select button.active {
  background: #edfff6;
  border: 1px solid #a1e9c5;
  color: #37c77f;
}

#yes-button {
  border-radius: 1.38vw 0px 0px 1.38vw;
}

#no-button {
  border-radius: 0px 1.38vw 1.38vw 0px;
}
