<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img
            id="logo"
            class="animate-up"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />
          <div id="location">
            <p id="city"></p>
            <strong id="state"></strong>
          </div>
        </header>
        <main>
          <h1 id="main-quote" class="animate-up">
            Leve felicidade para o mundo
          </h1>
          <section id="visit-section">
            <p id="visit-quote" class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>
            <a
              id="visit-button"
              href="/orphanages"
              title="Visite orfanatos"
              class="animate-up"
            >
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
