<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localize um orfanato | Happy</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/orphanages.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{#each orphanages}}
      <span hidden
      class="orphanagesData"
      data-id="{{this.id}}"
      data-name="{{this.name}}"
      data-lat="{{this.lat}}"
      data-lng="{{this.lng}}">
      </span>
    {{/each}}

    <div id="page-orphanages">
      <aside id="side-bar">
        <header>
          <img
            id="logo"
            class="animate-right"
            src="/images/map-marker.svg"
            alt="Logomarca de Happy"
          />

          <div id="middle-text">
            <h2 id="side-bar-title" class="animate-right">
              Escolha um orfanato no mapa
            </h2>
            <div id="middle-text-spacing"></div>
            <p id="side-bar-description" class="animate-right">
              Muitas crianças estão esperando sua visita :)
            </p>
          </div>
        </header>

        <footer id="location" class="animate-right">
          <p id="city">Barra Mansa</p>
          <strong id="state">Rio de Janeiro</strong>
        </footer>
      </aside>
      <div id="map" class="animate-fade">
        <a
          href="/createOrphanage"
          class="add-orphanage"
          title="Cadastre um orfanato"
        >
          <img src="/images/plus.svg" alt="Cadastrar orfanato" />
        </a>
      </div>
    </div>
    <script type="module" src="/scripts/orphanages.js"></script>
  </body>
</html>
